<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
function update() {
    const req = new XMLHttpRequest();
    req.addEventListener("load", function() {
        var info = document.getElementById("info");
        var data = JSON.parse(this.responseText);
        var html = "Not connected to twitch";
        if (data.twitch && data.twitch.connected) {
            html = "Available messages:<br>";
            for(var action of data.game.actions) {
                html += `<b>!${action.id}</b>: ${action.name}<br>`
            }
        }
        info.innerHTML = html;
    });
    req.open("GET", "/status");
    req.send();
    setTimeout(update, 1000);
}
setTimeout(update, 500);
    </script>
</head>
<body>
<div id="info"></div>
</body>
</html>